.animate-float-fade {
	animation: float-fade 720ms linear;
}

@keyframes float-fade {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	50% {
		opacity: 1;
		transform: translateY(-15px);
	}
	100% {
		opacity: 0;
		transform: translateY(-30px);
	}
}
